.column {
  height: calc(100% - 2rem);
  width: 15rem;
  margin: 0rem 2rem;
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  float: left;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activeColumn {
  background-color: darkgreen;
}

.head {
  height: 90%;
}

.headTitle{
  padding: 1rem;
}

.cardsBlock {
  display: flex;
  flex-direction: column;
  height: calc(100% - 5rem);

  overflow: auto;
  padding: 1rem;
}

.addHereBlock {
  background-color: #333;
  padding: 1rem;
  cursor: pointer;
}

.addHereInputBlock {
  display: flex;
}

.input {
  padding: 1rem;
  width: 75%;
}

